* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contenedor {
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    height: 100vh;
    display: grid; 
/*     align-content: center; */
    justify-content: center;
    grid-template-columns:repeat(7,100px );
    grid-template-rows:repeat(7,80px);
    grid-gap : 10px 20px;
}
.contenedor .inicio {
    grid-column-start: 3;
}
.box {
    background-color: rgb(220, 248, 248);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
}
.titulo {
    grid-column-start: 1;
    grid-column-end: 8;
    font-family: anton;
    font-size: 2.4em;
    background-color: white;
}
.dia {
    background-color: rgb(93, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}
.festivo {
    background-color: rgb(250, 47, 47);
    color: white;
}
.domi {
    background-color: rgb(157, 254, 254);
}

span {
    margin-top: 6%;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 2em;
    font-weight: 300;
}
@font-face {
    font-family: anton;
    src: url(../fonts/Anton-Regular.ttf);
}