label {
    font-size: 3em;
    color: antiquewhite;
}

body {
    background-color: rgb(20, 20, 209);
}

.fuente5 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 200px;
    font-weight: 100;
}

@font-face {
    font-family: waltograph;
    src: url(../fonts/waltograph42.otf);
}

.fuente5 {
    font-family: waltograph;
}
a {
    display:block;
    justify-content:center;
    display: block;
    width: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    border-radius: 10px;
    margin: 30px 10px;
    padding: 15px 10px;
    background-color: rgb(78, 164, 222);
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a :hover {
    background-color: transparent;
    border: 2px solid rgb(241, 29, 29);
    color: azure;
}