.fondo {
  background-color: #1f2327;
}
a {
  margin: 0 20px;
  width: 200px;
  height: 250px;
  z-index: 5;
  position: relative;
}
p {
  position: relative;
  color: white;
}
h2 {
color: rgb(135, 234, 234);
}

  @keyframes textclip {
    to {
      background-position: 180% center;
    }
  }
.ul {
    text-align: center;
    font-size: 1em;
    font-weight: 900;
    display: flex;
    margin: 50px;
    justify-content: center;
    align-items: center;
}
div {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contenedor {
  position: relative;
  transition: transform 0.7s ease;
}

.contenedor:hover {
  transform: translateY(-20px);
}

.text-content {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.contenedor:hover .text-content {
  opacity: 1;
}
img {
  height: 210px;
  border-radius: 10px;
  max-width: 210px;
}
