.fondo {
    background-image:url(../img/carton.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}
.conteneres {
  border-radius: 10px;
  max-width: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  height: 200px;
  color: white;
}

.contenedor1 {
  background-image: url(../img/Netflix-Symbol.png);
}
.contenedor2 {
  background-image: url(../img/game.jpg);
}
.contenedor3 {
  background-image: url(../img/disney.jpeg);
}
.contenedor4 {
  background-image: url(../img/colores.jpg);
}
.contenedor5 {
  background-image: url(../img/MARGIN.png);
}
.contenedor6 {
  background-image: url(../img/catalogo.jpg);
}
.contenedor7 {
  background-image: url(../img/tablas.jpg);
}
.contenedor8 {
  background-image: url(../img/formulario.jpg);
}
.contenedor9 {
  background-image: url(../img/menu.png);
}
.contenedor10 {
  background-image: url(../img/logoSena.png);

}
.contenedor11 {
  background-image: url(../img/media.png);
    width: 100%;
}
.contenedor12 {
  background-image: url(../img/sub.png);
}
.contenedor13 {
  background-image: url(../img/toggle.jpg);
}
.contenedor14 {
  background-image: url(../img/box.png);
}

img {
  height: 200px;
  border-radius: 10px;
  max-width: 250px;
}


a {
  margin: 0 20px;
  width: 200px;
  height: 250px;
  color: white;
  z-index: 5;
  position: relative;
  right: 0;
}
p {
  position: relative;
  color: white;
}
h2 {
color: rgb(135, 234, 234);
}

  @keyframes textclip {
    to {
      background-position: 180% center;
    }
  }
.ul {
    text-align: center;
    font-size: 1em;
    font-weight: 900;
    display: flex;
    margin: 50px;
    justify-content: center;
    align-items: center;
}
div {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.movable-div {
  position: relative;
  transition: transform 0.7s ease;
}

.movable-div:hover {
  transform: translateY(-20px);
}

.hidden-text {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.movable-div:hover .hidden-text {
  opacity: 1;
}
