.fondo {
    background-image:url(../img/carton.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}
h2 {
color: rgb(135, 234, 234);
}
.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px transparent;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }
  
.third {
    border-color:rgb(231, 20, 20);
    color: #312c2c;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 rgb(255, 6, 6) inset;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .third:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }
  a {
    text-align: center;
    background-image: linear-gradient(-225deg,
    rgb(255, 255, 255) 50%,/* primer color */
    rgb(0, 0, 0) 60%, /* los porcentajes funcionan en relación al tamaño */
    rgb(17, 186, 243) 30%,
    rgb(12, 255, 235) 100% 
    );
    background-clip: border-box;
    background-size: 200% auto;
    color: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: flex;
    justify-content: center;


  }
  @keyframes textclip {
    to {
      background-position: 180% center;
    }
  }
.ul {
    text-align: center;
    font-size: 1em;
    font-weight: 900;
    display: flex;
    margin: 50px;
    justify-content: center;
    align-items: center;
}
div {
    text-align: center;
    justify-content: center;
    align-items: center;
}