
*{
    padding: 0;
    margin: 0;  
}
body{
    background-color: black;
    width: 100%;
    display: grid;
    grid-template: "empty-left         main-page           empty-right"  100vh /
    minmax(30px,1fr)  minmax(700px, 1200px)   minmax(30px,1fr) ;
}
.main-page{
    grid-area: main-page ;
}
header{
    display: grid;
    margin-top: 50px;
    gap: 30px;
    grid-template: "logo       main-menu" 80px / 
    170px       minmax(500px,100%);
}
.logo{
    
    border-radius: 15PX;
    grid-area:logo   ;
    
}

.main-menu{
    border-radius: 15PX;
    grid-area:main-menu ;
    width: -100%;
    height: 100%;
    transition: all 1s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.hamburguerMenu {
    display: none;
}
ul {
    list-style: none;
}

.item-horizontal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    border-right: 1px solid rgb(177, 15, 15);
    background-color: rgb(0, 0, 0);
    border-radius: 0;
    font-weight: 500;
    font-size: 1.3em;
    cursor: pointer;
} 
.item-horizontal:hover{
    background: rgb(204, 19, 19);
}
.enlace-item-horizontal{
    text-decoration: none;
    color: rgb(251, 251, 251);
    
}
.style-text{
    font-family: Verdana, sans-serif;
    font-size: 1.6em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content{
  
    margin-top: 40px 70px;
    display: grid;
    gap: 30px;
    grid-template: " main-img   main-img    main-img" 600px 
                    "article-1    article-2   article-3"
                    "article-4    article-5   article-6"450px / 
                       1fr           1fr        1fr  ;

}
.logo-img{
    width: 100%;
    background-image: url(../img/logo1.png); /* este es sin aumentp vista pc */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.main-img{
    border-radius: 15PX;
    margin-top: 15PX;
    grid-area: main-img;
    width: 100%;
    background-image: url(../img/micro.jpg); /* este es sin aumentp vista pc */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.img-article-1{
    width: 100%;
    background-image: url(../img/guitarra.jpg); /* este es sin aumentp vista pc */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.img-article-2 {
    width: 100%;
    background-image: url(../img/piano.png); /* este es sin aumentp vista pc */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.img-article-3 {
    width: 100%;
    background-image: url(../img/violin.jpg); /* este es sin aumentp vista pc */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.img-article-4 {
    width: 100%;
    background-image: url(../img/trompeta.jpeg); /* este es sin aumentp vista pc */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.img-article-5 {
    width: 100%;
    background-image: url(../img/SAXOFON.jpg); /* este es sin aumentp vista pc */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.img-article-6{
    width: 100%;
    background-image: url(../img/flauta.jpg); /* este es sin aumentp vista pc */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.article-1{grid-area: article-1 ;}
.article-2{grid-area: article-2 ;}
.article-3{grid-area: article-3 ;}
.article-4{grid-area: article-4 ;}
.article-5{grid-area: article-5 ;}
.article-6{grid-area: article-6 ;}

.img-article{
    border-radius: 15PX;
    height: 350px;
    background-color: blueviolet;
}
.style-text-article{
    padding-top: 30px;
    color: rgb(66, 66, 66);
    text-align: justify;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4em;
}
/* / Móviles en horizontal o tablets en vertical
   ///////////////////////////////////////////////////////////////////////////////////////// / */

/* Mobile phones */
@media only screen and (max-width :750px) {
    body {
        grid-template:
          "main-page"
          auto
          "main-page"
          auto / 100%;
    }
    .main-menu{
        width: 100%;
        left: -100%;
        position: fixed;
        margin-top: 32px;
        height: 100%;
        transition: all 1s;
        text-align: center;
    }
    .main-menu-block {
        display: block;
        width: 100%;
        height: 600px;
        margin-top: 32px;
        left: 0;
        position: fixed;
        transition: all 1s;
    }
    .hamburguerMenu {
        cursor: pointer;
        display: block;
        color: aqua;
        width: 100%;
        font-size: 40px;
    }
    .item-horizontal {
        width: 100%;
    }
    
    .main-img{
        border-radius: 15PX;
        margin-top: 15PX;
        grid-area: main-img;
        width: 100%;
        background-image: url(../img/micro2.jpeg); /* este es sin aumentp vista pc */
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    .main-page {
        margin: 20px;
      }
      header{
        grid-template: "logo    main-menu"50px/
                        100px       minmax(50px , 400px);
        justify-content: center;
      }
      .main-content{
        grid-template: 
        "main-img"
        550px
        "article-1"
        auto
        "article-2"
        auto
        "article-3"
        auto
        "article-4"
        auto
        "article-5"
        auto
        "article-6"
        auto / 100%;
      }
      .img-article{
        height: 200px;
      }
      .style-text-article{
        padding-top: 30px;
        color: rgb(66, 66, 66);
        text-align: justify;
        font-size: 1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        line-height: 1.4em;
    }
    .style-text{
        padding-top: 10px;
        font-family: Verdana, sans-serif;
        font-size: 20px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}