*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    width: 100%;
    grid-template: "empty-let     main-page                empty-right" 100vh/
                 minmax(50px,1fr)       minmax(900px,1200px)       minmax(500px,1fr)             ;
}
.main-page{
    grid-area: main-page;
}
header{
    display: grid;
    gap: 30px;
    margin-top: 50px;
    grid-template:" logo    main-menu"80px/
                    150px       minmax(700px,100%);
}
.logo{
    grid-area: logo;
    background-color: goldenrod;
}
.main-menu{
    grid-area: main-menu ;
    background-color: rgb(30,167,69);
}
.style-tex{
    font-family: verdana,sans-serif;
    font-size: 1.6em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content{
    display: grid;
    margin-top:15px ;
    gap: 40px ;
    grid-template: "main-img       main-img      main-img" 600px
                   "article-1      article-2      article-3" 450px/
                      1fr            1fr             1fr;
}
.main-img{
    grid-area: main-img ;
    background-color: darkcyan;
}
.article-1{
    grid-area: article-1;
}
.article-2{
    grid-area: article-2;
}
.article-3{
    grid-area: article-3;
}
.img-article{
    height: 350px;
    background-color: rgb(64,64,64.8);
}
